<mat-card class="mat-elevation-z8 pt-0 overflow-visible" [ngClass]="{ 'brt-0': !radiusTop }">
    <form [formGroup]="formulario" (ngSubmit)="onClickPesquisar()">
        <div class="filter-content">
            <div class="filter-item">
                <div class="row d-flex" fxLayout.sm="column" fxLayout="row" fxLayoutGap="10">
                    <section *ngIf="!filter.customFields" class="d-flex" fxLayout.sm="column" fxLayout="row"
                        fxLayoutGap="10">
                        <app-filter-field *ngFor="let field of firstRow" [field]="field"
                            [control]="getFormControl(field.id)" (selectAll)="selectAll($event)"
                            [searchControl]="getFormControl(field.id + '_search')" (searchInput)="onSearchInput($event)"
                            [redefinirField]="redefinirField" (triggerSearch)="onClickPesquisar()" [customControls]="customFormControls">
                        </app-filter-field>
                    </section>

                    <section *ngIf="filter.customFields" class="d-flex">
                        <ng-content [select]="section.first-row"></ng-content>
                    </section>

                    <button *ngIf="filter?.fields.length > 4" mat-stroked-button
                        class="btn-show-more filter-button mt-2" [ngClass]="{ 'btn-outline-primary': showMore }"
                        (click)="showMore = !showMore" type="button">
                        <i class="fa-solid fa-angles-down" [ngClass]="{ 'fa-angles-up text-primary ': showMore }"></i>
                    </button>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <button [id]="filter.id + '_redefinir'" *ngIf="showRedefinirButton()" mat-button class="mt-2 btn-redefinir mr-1 text-secondary-blue"
                    (click)="redefinir()" type="button">Redefinir</button>
                <button [id]="filter.id + '_pesquisar'" mat-flat-button color="primary" class="mt-2" type="submit"> Pesquisar </button>
            </div>
        </div>

        <div class="filter-content" *ngIf="secondRow?.length > 0 && showMore">
            <div class="filter-item">
                <div class="row d-flex" fxLayout.sm="column">
                    <section *ngIf="!filter.customFields" class="d-flex">
                        <app-filter-field *ngFor="let field of secondRow" [field]="field"
                            [control]="getFormControl(field.id)" (selectAll)="selectAll($event)"
                            [searchControl]="getFormControl(field.id + '_search')" (searchInput)="onSearchInput($event)"
                            [redefinirField]="redefinirField" (triggerSearch)="onClickPesquisar()" [customControls]="customFormControls">
                        </app-filter-field>
                    </section>

                    <section *ngIf="filter.customFields" class="d-flex">
                        <ng-content select="section.second-row"></ng-content>
                    </section>
                </div>
            </div>
        </div>
    </form>
</mat-card>