// Settings

/* Colors */
$white:                #ffffff;
$black:                #000000;
$primary:            #1666AE;
$desk:                 #3E3E3E;

//#region Secondary
$blue-100:          #F3F6F9;
$blue-200:          #F1F8FF;
$blue-300:          #E9F4FF;
$blue-400:          #CEE8FF;
$blue-500:          #96C9F5;
$blue-600:          #5B94C7;
$blue-700:          #377AB7;
$blue-800:          #094E8C;
$blue-900:          #063D6E;
//#endregion

//#region Gray
$gray-100:          #FCFCFC;
$gray-200:          #F4F6F6;
$gray-300:          #ECEEEF;
$gray-400:          #D0D3D6;
$gray-500:          #AAAAAA;
$gray-600:          #99A1A7;
$gray-700:          #818A93;
$gray-800:          #626E78;
$gray-900:          #384047;
$gray-dark:         #6D6D6D;
//#endregion

$blue:              #006BB2;
$blue-dark:         #003e69;
$blue-light:        #2A5489;
$blue-gradient:     #016BB1;

$red:               #CE284E;
$red-dark:          #C9325C;
$red-light:         #DB5074;
$red-gradient:      #E62A50;

$green-success:     #3DB559;
$yellow-warning:    #F6A609;
$red-error:         #E61848;

$yellow-200:        #F6A6092E;

$gradient:          linear-gradient(90deg, #E32B51 0%, #056AB0 100%);

/*Spotlight*/
$spotlight-100:     #FFF3F6;
$spotlight-200:     #FADFE5;
$spotlight-300:     #FFBECD;
$spotlight-400:     #F293AA;
$spotlight-500:     #E56483;
$spotlight-600:     #E51848;
$spotlight-700:     #E51848;
$spotlight-800:     #C51F48;
$spotlight-900:     #940022;    

/*Success*/
$success-100:       #E7FCF2;
$success-200:       #CEF8E4;
$success-300:       #B6F5D7;
$success-400:       #9DF2C9;
$success-500:       #85EFBC;
$success-600:       #6DEBAE;
$success-700:       #54E8A1;
$success-800:       #3CE593;
$success-900:       #0BDE78;
$text-success:      #066F3C;

/*Warning*/
$warning-100:       #FFF7EC;
$warning-200:       #FFEFD9;
$warning-300:       #FFE7C5;
$warning-400:       #FFD79F;
$warning-500:       #FFCF8C;
$warning-600:       #FFC779;
$warning-700:       #FFC779;
$warning-800:       #FFB752;
$warning-900:       #FFAF3F;
$text-warning:      #A96300;

/*Error*/
$error-100:         #FBD0DD;
$error-200:         #F9B9CB;
$error-300:         #F7A1BA;
$error-400:         #F7A1BA;
$error-500:         #F68AA9;
$error-600:         #F47298;
$error-700:         #F25B87;
$error-800:         #F04375;
$error-900:         #EC1453;