<mat-card class="h-100 p-0">
  <div class="content-wrapper h-100">
    <i class="fa-regular fa-bell-on bell-icon"></i>
    <div class="notificacoes-content">
      <h4 class="mb-0">Acesse as suas notificações</h4>
      <p class="mt-1">Fique por dentro dos avisos que <br>
        sempre enviamos para você.</p>
    </div>
    <div class="button-wrapper">
      <button mat-mini-fab color="primary"><i class="fa-solid fa-circle-chevron-right" (click)="openModalRestricao()"></i></button>
    </div>

    <div class="left-elipse"></div>
    <div class="right-elipse"></div>
  </div>
</mat-card>
