<div fxLayout="row" fxLayoutAlign="space-between none">
  <div fxFlex>
    <div *ngIf="isLoading" class="d-flex" fxLayout="row" fxLayoutAlign="space-between none">
      <div *skeleton="
                isLoading;
                className: 'mr-1';
                height: '36px';
                width: '10%';"></div>
      <div *skeleton="
                isLoading;
                className: 'mr-1';
                height: '36px';
                width: '80%';"></div>
      <div *skeleton="
                isLoading;
                className: 'mr-1';
                height: '36px';
                width: '10%';"></div>
    </div>

    <div fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="row" class="property-row" *ngFor="let revisao of revisaoRascunhoContrato">
        <div fxFlex="50" class="nome-exibicao"> {{revisao.nomeExibicao}} </div>
        <div fxFlex="50"> {{revisao.valor}} </div>
      </div>
    </div>
  </div>
</div>