@import '$settings';
@import '$tools';

.top-options {
  position: absolute;
  right: 20px;
  z-index: 2;
  margin-top: 0 !important;
}

.box__btn {
  display: flex;
  justify-content: right;
  position: relative;

  .box__btn--btn {
    position: absolute;
    top: -68px;
  }
}

.btn-outline-600 {
  border: 2px solid;
  color: $primary;
  background: transparent;
  font-size: 14px !important;

  i {
    font-size: 20px;
  }
}