@import '$settings';
@import '$tools';

.toolbar {
    position: fixed;
    width: 100%;
    height: 69px;
    padding: 7px 25px 7px 15px;
    background: linear-gradient(to left, rgb(4, 106, 176), rgb(228, 43, 81));
    color: $white;
    z-index: 11;
}

.info-loading {
    position: fixed;
    right: 0;
    top: 90px;
}

.toolbar img {
    width: 135px;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-right: 20px;
}

.header-icons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.user-image {
    @include fontFieldworkBold;
    @include border-radius(50px);
    background-color: $blue-400;
    color: $primary;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.menu-user-name {
    @include fontFieldworkRegular;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
    font-size: 15px;
}