@import '$settings';
@import '$tools';

.sem-rascunho {
  padding: 40px;
  color: #c5defb;
}

.full-width {
  width: 100%;
}

.rows-text {
  @include fontFieldworkLight
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(51, 51, 51, 0.20);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

h6 {
  @include fontMontserratBold;
  font-size: 16px;
  color: $gray-800;
}

p {
  font-size: 14px;
  color: $gray-800;

  a {
    text-decoration: underline;
    color: $primary;
  }
}

.rascunhos-list {
  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray-300;
    padding: .8rem 0 !important;

    td {
      @include fontMontserratBold;
      color: $gray-700;
      font-size: 14px;
      align-self: center;

      span {
        @include fontMontserratBold;
        color: $gray-800;
        font-size: 14px;
      }

      &.acoes {
        button {
          @include border-radius(5px);
          width: 30px;
          height: 30px;

          &.continuar {
            background-color: #E0EFFF;
            color: #70B2E7;
          }

          &.excluir {
            background-color: $error-100;
            color: $error-900;
          }

          i {
            width: 30px;
            height: 30px;
            line-height: 1rem;
          }
        }
      }
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      background-color: inherit;
    }
  }
}