<mat-card class="mb-4 mat-elevation-z8">
  <div class="d-flex justify-content-between align-items-center">
    <div class="fw-bold">Dados do usuário</div>
  </div>
  <form [formGroup]="createUsuarioForm" (ngSubmit)="enviarUsuario()" class="mt-2">
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Vincule uma empresa a este usuário </mat-label>
        <mat-select formControlName="empresaId" required [ngModel]="selectedEmpresa" (ngModelChange)="selectedEmpresaEvent($event)">
          <mat-option>
            Escolha uma empresa
          </mat-option>
          <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
            {{ empresa.nome }}
          </mat-option>
        </mat-select>
        <mat-hint>Obrigatório</mat-hint>
        <mat-error *ngIf="createUsuarioForm.controls['empresaId'].hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Perfil </mat-label>
        <mat-select formControlName="perfil" required>
          <mat-option>
            Escolha um perfil
          </mat-option>
          <mat-option *ngFor="let perfil of perfis" [value]="perfil.id">
            {{ perfil.nome }}</mat-option>
        </mat-select>
        <mat-hint>Obrigatório</mat-hint>
        <mat-error *ngIf="createUsuarioForm.controls['perfil'].hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFlex="25">
        <mat-label>Nome do usuário </mat-label>
        <input matInput placeholder="Nome do usuário" formControlName="nome" required />
        <mat-hint>Obrigatório</mat-hint>
        <mat-error *ngIf="createUsuarioForm.controls['nome'].hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="25">
        <mat-label>Sobrenome </mat-label>
        <input matInput placeholder="Sobrenome" formControlName="sobrenome" required />
        <mat-hint>Obrigatório</mat-hint>
        <mat-error *ngIf="createUsuarioForm.controls['sobrenome'].hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" type="text" formControlName="email" required />
        <mat-hint>Obrigatório</mat-hint>
        <mat-error *ngIf="createUsuarioForm.controls['email'].hasError('required')">Campo obrigatório</mat-error>
        <mat-error *ngIf="createUsuarioForm.get('email').hasError('pattern')"> E-mail inválido </mat-error>
      </mat-form-field>


    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFlex="auto">
        <mat-label>CPF </mat-label>
        <input matInput placeholder="000.000.000-00" formControlName="cpf" mask="000.000.000-00" required />
        <mat-hint>Obrigatório</mat-hint>
        <mat-error *ngIf="createUsuarioForm.controls['cpf'].hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="auto">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="(00) 00000-0000" formControlName="telefone" mask="(00) 0000-0000" />
        <mat-hint>Obrigatório</mat-hint>
        <mat-error *ngIf="createUsuarioForm.controls['telefone'].hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" [style.width.px]="80">
        <mat-label>Ramal </mat-label>
        <input matInput placeholder="0000" formControlName="ramal" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="auto">
        <mat-label>Departamento </mat-label>
        <mat-select formControlName="departamento" required>
          <mat-option> Escolha o departamento</mat-option>
          <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id">{{ departamento.nome }}
          </mat-option>
        </mat-select>
        <mat-hint>Obrigatório</mat-hint>
        <mat-error *ngIf="
            createUsuarioForm.controls['departamento'].hasError('required')
          ">Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="auto">
        <mat-label>Cargo </mat-label>
        <mat-select formControlName="cargo" required>
          <mat-option> Escolha o cargo</mat-option>
          <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">{{
            cargo.nome
            }}</mat-option>
        </mat-select>
        <mat-hint>Obrigatório</mat-hint>
        <mat-error *ngIf="createUsuarioForm.controls['cargo'].hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="10px" class="mt-2"
      *ngIf="novoDepartamento(createUsuarioForm.get('departamento').value)">
      <mat-form-field appearance="outline" fxFlex="auto">
        <mat-label>Novo Departamento</mat-label>
        <input matInput placeholder="Digite o novo departamento" formControlName="novoDepartamento" required />
        <mat-hint>Obrigatório</mat-hint>
        <mat-error *ngIf="">Campo obrigatório</mat-error>
      </mat-form-field>

      <div class="btn-wrapper">
        <button mat-flat-button class="btn-adicionar" color="primary" type="button"
          (click)="adicionarDepartamento(createUsuarioForm.get('novoDepartamento').value)"
          [disabled]="!createUsuarioForm.get('novoDepartamento').valid">Adicionar</button>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="10px" class="mt-2" *ngIf="novoCargo(createUsuarioForm.get('cargo').value)">
      <mat-form-field appearance="outline" fxFlex="auto">
        <mat-label>Novo Cargo</mat-label>
        <input matInput placeholder="Digite o novo cargo" formControlName="novoCargo" required />
        <mat-hint>Obrigatório</mat-hint>
        <mat-error *ngIf="">Campo obrigatório</mat-error>
      </mat-form-field>

      <div class="btn-wrapper">
        <button mat-flat-button class="btn-adicionar" color="primary" type="button"
          (click)="adicionarCargo(createUsuarioForm.get('novoCargo').value)"
          [disabled]="!createUsuarioForm.get('novoCargo').valid">Adicionar</button>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="30">
        <mat-slide-toggle formControlName="ativo">Ativo?</mat-slide-toggle>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-4">
      <button mat-flat-button color="primary" type="submit"
        [disabled]="!createUsuarioForm.valid || novoDepartamento(createUsuarioForm.get('departamento').value) || novoCargo(createUsuarioForm.get('cargo').value)">
        Pronto
      </button>
    </div>
  </form>
</mat-card>
