<!--Text Type-->
<button mat-stroked-button [matMenuTriggerFor]="menu" class="filter-button mt-2"
  [id]="getElementId(2, 'filter', field.id)" type="button" *ngIf="field.tipo == 1"
  [ngClass]="{  'filter-active': control.value, 'filter-error': control.invalid }" fxFlex
  (click)="triggerFocus(field.id)">
  <span class="filter-title"> {{ field.titulo }} </span>
  <i class="fal fa-chevron-down arrow-filter mr-1"></i>
</button>
<mat-menu #menu="matMenu" class="mat-elevation-z8 filter">
  <div class="filter-search" (click)="stopPropagation($event)">
    <div class="filter-header d-flex justify-content-between pl-2">
      <span> {{ labelInsideFilter }}</span>
      <button [id]="getElementId(2, 'filter-clean', field.id)" mat-button color="primary" class="btn-redefinir"
        (click)="redefinir()">Limpar</button>
    </div>
    <mat-form-field appearance="outline" class="fix-prefix px-2 pb-0"
      style="font-size: 14px; width: 100%; margin-left: -5px;">
      <mat-label>Procure</mat-label>
      <i matPrefix class="far fa-search"></i>
      <input matInput placeholder="Procure" class="elevation" [formControl]="control" (keyup)="onKeyEnter($event)"
        [id]="getElementId(0, 'filter', field.id)">

      <mat-hint *ngIf="control.hasError('minlength')" class="text-danger bold"> Digite ao menos {{
        control.errors.minlength.requiredLength }} caracteres </mat-hint>
      <mat-hint *ngIf="control.hasError('maxlength')" class="text-danger bold"> Digite até {{
        control.errors.maxlength.requiredLength }} caracteres </mat-hint>
      <mat-hint *ngIf="control.hasError('required')" class="text-danger bold"> Campo obrigatório</mat-hint>
    </mat-form-field>
  </div>
</mat-menu>

<!--Select Multiple Type-->
<div class="filter-multiple-select mt-2" [id]="field.id" *ngIf="field.tipo == 2"
  [ngClass]="{ 'campo__selecionado': control.value?.length, 'filter-active': control.value && control.value.length > 0, 'filter-error': control.invalid }"
  fxFlex [id]="getElementId(2, 'filter', field.id)">
  <mat-label class="d-flex justify-content-between align-items-center mr-1">
    <span class="filter-title">{{ field.titulo }}</span>
    <i class="fal fa-chevron-down pl-1"></i>
  </mat-label>
  <mat-select [id]="getElementId(5, 'filter', field.id)" [formControl]="control" multiple panelClass="grid-filter-panel"
    disableOptionCentering>
    <mat-select-trigger class="campo__selecionado--text">
      <span *ngIf="control.value?.length && !field.searchInput" class="campo__selecionado--feed">
        {{ (control.value?.length == field.options.length && field.selectAllOptions ? field.options.length + 1 :
        control.value?.length) }}
      </span>
      <span *ngIf="field.searchInput" class="campo__selecionado--feed">
        {{ listOptionsSelected.length }}
      </span>
      <span class="pl-1 arrow-filter"></span>
    </mat-select-trigger>

    <mat-card class="filter-card-select p-0">
      <div class="filter-search" (click)="stopPropagation($event)">

        <div class="filter-header d-flex justify-content-between pl-2 " [ngClass]="{ 'b-divider': !field.searchInput }">
          <span> {{ labelInsideFilter }}</span>
          <button [id]="getElementId(2, 'filter-clean', field.id)" mat-button color="primary" class="btn-redefinir"
            (click)="redefinir()">Limpar</button>
        </div>

        <div class="row b-divider" *ngIf="field.searchInput">
          <mat-form-field appearance="outline" class="fix-prefix px-2 pb-0"
            style="font-size: 14px; width: 100%; margin-left: -5px;">
            <mat-label>Procure</mat-label>
            <i matPrefix class="far fa-search"></i>
            <input [id]="getElementId(0, 'filter', field.id)" matInput placeholder="Procure" class="elevation"
              [formControl]="searchControl" (keyup)="onChangeSearch(searchControl.value)">
            <mat-hint *ngIf="searchControl.hasError('minlength')" class="text-danger bold"> Digite ao menos
              {{
              searchControl.errors.minlength.requiredLength }} caracteres </mat-hint>
          </mat-form-field>
        </div>

        <section class="filter-options">
          <mat-optgroup label="Opções selecionadas" *ngIf="field.searchInput && listOptionsSelected.length >0"
            [id]="getElementId(7, 'filter', field.id)">
            <mat-option *ngFor="let selectedOption of listOptionsSelected"
              [id]="getElementId(7, 'filter', field.id + '_' + option.value)" [value]="selectedOption.value"
              (click)="toggleOption(selectedOption)">
              {{ selectedOption.label }}
            </mat-option>
          </mat-optgroup>

          <mat-optgroup label="Não selecionadas" *ngIf="field.searchInput">
            <mat-option *ngIf="field.selectAllOptions != null" [id]="getElementId(7, 'filter', field.id + '_selectAll')"
              (click)="toggleSelectAllOptions()" [value]="'selectAll'">{{
              field.selectAllOptions }} </mat-option>
            <mat-option *ngFor="let option of field.options"
              [id]="getElementId(7, 'filter', field.id + '_' + option.value)" [value]="option.value"
              (click)="toggleOption(option)">
              {{ option.label }}</mat-option>
          </mat-optgroup>

          <section *ngIf="!field.searchInput">
            <mat-option *ngIf="field.selectAllOptions != null" [id]="getElementId(7, 'filter', field.id + '_selectAll')"
              #allSelectedOptions (click)="toggleSelectAllOptions()" [value]="'selectAll'">{{
              field.selectAllOptions }} </mat-option>
            <mat-option *ngFor="let option of field.options"
              [id]="getElementId(7, 'filter', field.id + '_' + option.value)" [value]="option.value"
              (click)="toggleOption(option)">
              {{ option.label }}</mat-option>
          </section>

        </section>
      </div>
    </mat-card>

  </mat-select>
</div>

<!--Radio Type-->
<button mat-stroked-button [matMenuTriggerFor]="menuRadio" class="filter-button mt-2" [id]="field.id"
  *ngIf="field.tipo == 3" type="button" [ngClass]="{  'filter-active': control.value, 'filter-error': control.invalid }"
  fxFlex [id]="getElementId(2, 'filter', field.id)">
  <span class="filter-title">{{ field.titulo }}</span>
  <i class="fal fa-chevron-down arrow-filter mr-1"></i>
</button>
<mat-menu #menuRadio="matMenu" class="mat-elevation-z8 filter">
  <div class="filter-search" (click)="stopPropagation($event)">
    <div class="filter-header d-flex justify-content-between pl-2 b-divider">
      <span> {{ labelInsideFilter }}</span>
      <button [id]="getElementId(2, 'filter-clean', field.id)" mat-button color="primary" class="btn-redefinir"
        (click)="redefinir()">Limpar</button>
    </div>

    <section class="filter-options  py-1 px-2">
      <mat-radio-group [formControl]="control" [id]="getElementId(3, 'filter', field.id)">
        <mat-radio-button *ngFor="let option of field.options"
          [id]="getElementId(3, 'filter', field.id + '_' + option.value)" [value]="option.value" class="mb-1">
          {{ option.label }}</mat-radio-button>
      </mat-radio-group>
    </section>
  </div>
</mat-menu>

<!--Custom Type-->
<ng-container select="section.fieldCustom" *ngIf="field.tipo == 5"></ng-container>

<!--Periodo Type-->
<button mat-stroked-button [matMenuTriggerFor]="menuPeriod" class="filter-button mt-2" [id]="field.id" type="button"
  *ngIf="field.tipo == 6"
  [ngClass]="{  'filter-active':  (control.value || getFormControl('De').value || getFormControl('Ate').value) && (!getFormControl('De').invalid && !getFormControl('Ate').invalid), 'filter-error': (requiredFieldsError || getFormControl('De').invalid || getFormControl('Ate').invalid) }"
  fxFlex [id]="getElementId(2, 'filter', field.id)">
  <span class="filter-title">{{ field.titulo }}</span>
  <i class="fal fa-chevron-down  mr-1"></i>
</button>
<mat-menu #menuPeriod="matMenu" class="mat-elevation-z8 filter" [hidden]="field.tipo !== 6">
  <div class="filter-search" (click)="stopPropagation($event)">
    <div class="filter-header d-flex justify-content-between pl-2 b-divider">
      <span> {{ field.titulo }}</span>
      <button [id]="getElementId(2, 'filter-clean', field.id)" mat-button color="primary" class="btn-redefinir"
        (click)="redefinir()">Limpar</button>
    </div>

    <section class="filter-options  py-1 px-2">
      <mat-radio-group [formControl]="control" [id]="getElementId(3, 'filter', field.id)">
        <mat-radio-button *ngFor="let option of field.options" [value]="option.value" class="mb-1"
          (change)="cleanDates()">
          {{ option.label }}</mat-radio-button>
      </mat-radio-group>

      <div class="row pt-1" fxLayoutGap="10">
        <mat-form-field appearance="outline" fxFlex="50" class="mat-field-small mr-1">
          <mat-label>DE</mat-label>
          <input [id]="getElementId(6, 'filter-de', field.id)" [formControl]="getFormControl('De')" matInput
            placeholder="dd/mm/aaaa" (dateChange)="onChangePeriodo($event.target.value, true)" [max]="maxDate"
            [matDatepicker]="de" (click)="de.open()"
            [required]="getFormControl('Ate')?.value != null && getFormControl('Ate')?.value != ''">
          <mat-datepicker-toggle matSuffix [for]="de" hidden>
          </mat-datepicker-toggle>
          <mat-datepicker #de></mat-datepicker>
          <mat-hint class="text-danger bold" *ngIf="getFormControl('De')?.hasError('required')">
            Campo obrigatório </mat-hint>
          <mat-hint class="text-danger bold" *ngIf="getFormControl('De')?.hasError('matDatepickerMax')">
            Data inicial não pode ser maior que hoje
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50" class="mat-field-small">
          <mat-label>ATÉ</mat-label>
          <input [id]="getElementId(6, 'filter-ate', field.id)" [formControl]="getFormControl('Ate')" matInput
            placeholder="dd/mm/aaaa" (dateChange)="onChangePeriodo($event.target.value, false)" [min]="minDate"
            [matDatepicker]="ate" (click)="ate.open()" [max]="maxDate"
            [required]="getFormControl('De')?.value != null && getFormControl('De')?.value != ''">
          <mat-datepicker-toggle matSuffix [for]="ate" hidden>
          </mat-datepicker-toggle>
          <mat-datepicker #ate></mat-datepicker>
          <mat-error class="text-danger bold"
            *ngIf="erroDataFinal || getFormControl('Ate')?.hasError('matDatepickerMin')">
            Data final deve ser maior que a data inicial </mat-error>
          <mat-hint class="text-danger bold" *ngIf="getFormControl('Ate')?.hasError('required')">
            Campo obrigatório
          </mat-hint>
          <mat-hint class="text-danger bold" *ngIf="getFormControl('Ate')?.hasError('matDatepickerMax')">
            Data final não pode ser maior que hoje
          </mat-hint>
        </mat-form-field>
      </div>
    </section>
  </div>
</mat-menu>

<!--Select Type-->
<div class="filter-multiple-select mt-2" [id]="field.id" *ngIf="field.tipo == 4"
  [ngClass]="{ 'campo__selecionado': control.value, 'filter-active': control.value, 'filter-error': control.invalid }"
  fxFlex [id]="getElementId(2, 'filter', field.id)">
  <mat-label class="d-flex justify-content-between align-items-center mr-1">
    <span class="filter-title">{{ field.titulo }}</span>
    <i class="fal fa-chevron-down pl-1"></i>
  </mat-label>
  <mat-select [id]="getElementId(5, 'filter', field.id)" [formControl]="control" panelClass="grid-filter-panel"
    disableOptionCentering>
    <mat-select-trigger class="campo__selecionado--text">
      <span class="pl-1 arrow-filter"></span>
    </mat-select-trigger>

    <mat-card class="filter-card-select p-0">
      <div class="filter-search" (click)="stopPropagation($event)">

        <div class="filter-header d-flex justify-content-between pl-2 " [ngClass]="{ 'b-divider': !field.searchInput }">
          <span> {{ labelInsideFilter }}</span>
          <button [id]="getElementId(2, 'filter-clean', field.id)" mat-button color="primary" class="btn-redefinir"
            (click)="redefinir()">Limpar</button>
        </div>

        <section class="filter-options">
          <section>
            <mat-option *ngFor="let option of field.options"
              [id]="getElementId(7, 'filter', field.id + '_' + option.value)" [value]="option.value">
              {{ option.label }}</mat-option>
          </section>

        </section>
      </div>
    </mat-card>

  </mat-select>
</div>