.xng-breadcrumb-root {
    padding-top: 10px;
    padding-bottom: 18px;
    padding-left: 26px;
    display: inline-block;
}

.xng-breadcrumb-separator {
    padding: 0 6px;
}

.wrapper {
    margin-right: 10px;
    cursor: pointer;
}