<div class="help-wrap w-100 h-100">
  <mat-card class="h-100 central-ajuda">
    <div class="elipse-middle"></div>
    <div class="elipse-top"></div>
    <div class="mask-tbk">
      <img src="./../../../../assets/img/e-contrato/mask-tbk.png">
    </div>
    <h5 class="headline">Está com dúvidas?</h5>
    <p class="desk">Na nossa central de ajuda você encontra as soluções para as dúvidas mais procuradas, vídeos tutoriais e muito mais.</p>

    <button class="box__btn--btn bold ml-3 p-1" color="secondary" type="button" (click)="onClickCentralAjuda()">Ir para a central de ajuda</button>
  </mat-card>
</div>