@import '$settings';
@import '$tools';

section {
    padding: 1rem 0;
}

h3 {
    font-size: 16px;
    font-weight: 100;
}

.dropzone {
    @include border-radius(0.25rem);
    width: 332px;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #CACCCF;
    position: relative;
    margin: 0 auto;
}

.single-file {
    @include border-radius(0.25rem);
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #CACCCF;
    margin-bottom: 1rem;
}

.name {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 350px;
}

.size {
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
    margin: 0;
    margin-bottom: 0.25rem;
}

.info {
    width: 100%
}

.dropzone span {
    font-size: 12px;
}

.dropzone .file-error .mat-icon {
    color: $yellow-warning;
    vertical-align: sub;
}

.dropzone > .mat-icon, .dropzone > .fa-cloud-arrow-up {
    font-size: 3rem;
    margin-left: -23px;
    color: $blue;
}

.files-list .mat-icon {
    color: $blue;
    margin-right: 0.3rem;
}


.dropzone.dropzone-disabled > .fa-cloud-arrow-up {
  color: #AAAAAA
}

.dropzone.dropzone-disabled h3 {
  color: #AAAAAA;
}
