<h2>Informações importantes</h2>
<div class="item">
  <span class="item-icon fa-stack">
    <i class="fa-solid fa-circle fa-stack-2x icon-background"></i>
    <i class="fa-regular fa-trash-clock fa-stack"></i>
  </span>
  <div class="item-text">
    Os relatórios solicitados serão excluídos em um período de 7 dias.
  </div>
</div>
<div class="item">
  <span class="item-icon fa-stack fa-1x">
    <i class="fa-solid fa-circle fa-stack-2x icon-background"></i>
    <i class="fa-regular fa-hand-point-right fa-stack ico"></i>
  </span>
  <div class="item-text">
    Será possível solicitar um novo relatório somente após a disponibilização do
    que foi solicitado anteriormente.
  </div>
</div>
<div class="item">
  <span class="item-icon fa-stack fa-1x">
    <i class="fa-solid fa-circle fa-stack-2x icon-background"></i>
    <i class="fa-regular fa-download fa-stack ico"></i>
  </span>
  <div class="item-text">
    O relatório gerado poderá ser baixado após o seu status atualizar para
    “processado”.
  </div>
</div>
