<div class="dialog">
    <h2 mat-dialog-title *ngIf="title !== ''">{{title}}</h2>
    <mat-dialog-content align="center">
        <app-icone-sucesso *ngIf="iconType == 'success'"></app-icone-sucesso>
        <app-icone-falha *ngIf="iconType == 'fail'"></app-icone-falha>
        <h2 class="title-dialog">{{message}}</h2>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close mat-raised-button class="btn btn-outline-primary btn-lg" [id]="getElementId(2, 'fechar')">Fechar</button>
        <button mat-button class="btn btn-primary btn-lg" [mat-dialog-close]="true" cdkFocusInitial [id]="getElementId(2, 'confirmar')">{{ textButton }}</button>
    </mat-dialog-actions>
</div>