@import '$settings';
@import '$tools';

.top-options {
  position: absolute;
  right: 40px;
  z-index: 2;
  margin-top: -68px !important;
}

.box__btn {
  display: flex;
  justify-content: right;
  position: relative;

  .box__btn--btn {
    position: absolute;
    top: -68px;
  }
}

.empresa-select {
  width: 400px;
}

.error {
  @include fontMontserratBold;
  font-size: 12px;
}

.dropzone {
  @include border-radius(0.25rem);
  width: 100%;
  padding: 2rem;
  text-align: center;
  border: dashed 2px $primary;
  position: relative;
  margin: 0 auto;

  i {
    color: $primary;
    font-size: 2em;
  }

  p {
    color: $gray-800
  }

  &.disabled {
    border-color: $gray-500;
    background: $gray-200;
    color: $gray-600;

    i {
      color: $gray-600;
    }

    p {
      color: $gray-600;
    }
  }
}

.single-file {
  @include border-radius(0.25rem);
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #CACCCF;
  margin-bottom: 1rem;
}

.name {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 350px;
}

.size {
  @include border-radius(0.25rem);
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0;
}

.info {
  width: 100%
}

.dropzone span {
  font-size: 12px;
}

.dropzone .file-error .mat-icon {
  color: $yellow-warning;
  vertical-align: sub;
}

.dropzone>.mat-icon {
  font-size: 3rem;
  margin-left: -23px;
  color: $blue;
}

.file-detail-description {
  font-size: 0.9em;

  .file-title {
    @include fontMontserratBold;
  }
}


.files-list .mat-icon {
  color: $primary;
  margin-right: 0.3rem;
}

.file-download {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-delete {
  @include border-radius(1rem);
  background: $blue-600;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-delete i {
  color: $white !important;
  font-size: 8px;
  display: inline-flex !important;
  justify-content: center !important;
  margin: 0 !important;
  width: 20px;
}

.file-loading {
  @include border-radius(1rem);
  background: $gray-300;
  padding-top: 6px;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.file-loading mat-icon {
  color: $gray-800 !important;
  font-size: 0.90rem;
  display: inline-flex !important;
  justify-content: center !important;
  margin: 0 !important;
  height: 20px;
  width: 26px;
}

.file-name {
  display: flex;
  align-items: center;
}

.file-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn-tentar-novamente {
  border: solid 2px #384047;
  height: 32px;
  line-height: 2;

  i {
    margin-right: 5px;
  }
}

.icon {
  margin-right: 1rem;
}

.progress-bar {
  width: 100%;
}

.porcentagem {
  font-size: 12px;
  color: $primary;
  margin-top: 0.5rem;
}

.btn-outline-600 {
  border: 2px solid;
  color: $primary;
  background: transparent;
  font-size: 14px !important;

  i {
    font-size: 20px;
  }
}