<div fxLayout="row" fxLayoutGap="40px" class="mt-2">
    <div fxFlex="50">
        <p class="field-title">Nome Terceiro terceiroGarantidor</p>
        <!-- <p>{{ contrato?.terceiroGarantidor?.nomeDoterceiroGarantidor }}</p> -->
    </div>
    <div fxFlex="50">
        <p class="field-title">Tipo - Número</p>
        <!-- <p>{{ contrato?.terceiroGarantidor?.documento?.tipoDocumento == 1 ? 'CPF' : 'CNPJ' }} - {{ terceiroGarantidorDocumento }}</p> -->
    </div>
</div>

<div fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="50">
        <p class="field-title">Logradouro</p>
        <!-- <p>{{ contrato?.terceiroGarantidor?.endereco?.logradouro }}</p> -->
    </div>
    <div fxFlex="50">
        <p class="field-title">Número</p>
        <!-- <p>{{ contrato?.terceiroGarantidor?.endereco?.numero }}</p> -->
    </div>
</div>

<div fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="50">
        <p class="field-title">Complemento</p>
        <!-- <p>{{ (contrato?.terceiroGarantidor?.endereco?.complemento == '' || contrato?.terceiroGarantidor?.endereco?.complemento == null) ? '-' : contrato?.terceiroGarantidor?.endereco?.complemento }}</p> -->
    </div>
    <div fxFlex="50">
        <p class="field-title">Bairro</p>
        <!-- <p>{{ contrato?.terceiroGarantidor?.endereco?.bairro }}</p> -->
    </div>
</div>

<div fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="50">
        <p class="field-title">Município - UF</p>
        <!-- <p>{{ contrato?.terceiroGarantidor?.endereco?.municipio }} - {{ contrato?.terceiroGarantidor?.endereco?.uf }}</p> -->
    </div>
    <div fxFlex="50">
        <p class="field-title">CEP</p>
        <!-- <p>{{ terceiroGarantidorCep }}</p> -->
    </div>
</div>

<div fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="50">
        <p class="field-title">Telefone</p>
        <!-- <p>({{ contrato?.terceiroGarantidor?.contato?.ddd }}) {{ contrato?.terceiroGarantidor?.contato?.telefone }}</p> -->
    </div>
    <div fxFlex="50">
        <p class="field-title">E-Mail</p>
        <!-- <p>{{ (contrato?.terceiroGarantidor?.contato?.email == '' || contrato?.terceiroGarantidor?.contato?.email == null) ? '-' : contrato?.terceiroGarantidor?.contato?.email }}</p> -->
    </div>
</div>
