@import '$settings';
@import '$tools';

a.link-editar-resumo {
    text-decoration: none;
}

h3 {
    font-weight: normal;
}

p {
    color: $blue-dark;
    margin: 7px 0;
}

p.field-title {
    color: #A0A0A0;
    @include fontFieldworkLight;
}

.link-editar-resumo i {
    font-size: 10px;
    font-weight: bold;
}

.btn {
    background: $blue;
    padding: 0 3rem;
}

.btn:hover {
    background: #4880B2;
}

@media print {
    #espelhoContrato * {
        visibility: visible !important;
        font-family: Helvetica, sans-serif;
        height: 99%;    
    }
    
    #espelhoContrato .dados-complementares {
        page-break-after: always;
    }
    
    #espelhoContrato .mat-card {
        box-shadow: none !important;
    }
    
    #espelhoContrato {
        margin-top: -230px;
    }

    .dados-nsa {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }

    p {
        font-size: 8pt !important;
        visibility: visible !important;
    }

    .last-row {
        margin-bottom: -50px;
    }
}